In [2]:
import pandas as pd
df = pd.read_excel("D:\ERA_ML\IIT Roorkee\Dataset\week_5\cotton weight.xlsx")
df

   cotwt.15  cotwt.20  cotwt.25  cotwt.30  cotwt.35
0         7        12        14        19         7
1         7        17        18        25        10
2        15        12        18        22        11
3        11        18        19        19        15
4         9        18        19        23        11

In [10]:
new_df = pd.melt(df.reset_index(),id_vars=['index'])
new_df.rename(columns={'variable':'treatments'},inplace=True)  # Specific column renaming
new_df.head(10)

   index treatments  value
0      0   cotwt.15      7
1      1   cotwt.15      7
2      2   cotwt.15     15
3      3   cotwt.15     11
4      4   cotwt.15      9
5      0   cotwt.20     12
6      1   cotwt.20     17
7      2   cotwt.20     12
8      3   cotwt.20     18
9      4   cotwt.20     18

In [12]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model_1 = ols('value ~C(treatments)',data=new_df).fit()
model_1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  value   R-squared:                       0.747
Model:                            OLS   Adj. R-squared:                  0.696
Method:                 Least Squares   F-statistic:                     14.76
Date:                Sat, 07 May 2022   Prob (F-statistic):           9.13e-06
Time:                        06:26:59   Log-Likelihood:                -58.771
No. Observations:                  25   AIC:                             127.5
Df Residuals:                      20   BIC:                             133.6
Df Model:                           4
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                     9.8000      1.270      7.719      0.000       7.152      12.448
C(treatments)[T.cotwt.20]     5.6000      1.796      3.119      0.005       1.855       9.345
C(treatments)[T.cotwt.25]     7.8000      1.796      4.344      0.000       4.055      11.545
C(treatments)[T.cotwt.30]    11.8000      1.796      6.572      0.000       8.055      15.545
C(treatments)[T.cotwt.35]     1.0000      1.796      0.557      0.584      -2.745       4.745
==============================================================================
Omnibus:                        1.435   Durbin-Watson:                   2.402
Prob(Omnibus):                  0.488   Jarque-Bera (JB):                0.957
Skew:                           0.106   Prob(JB):                        0.620
Kurtosis:                       2.065   Cond. No.                         5.83
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [13]:
anova_table = sm.stats.anova_lm(model_1,typ=1)
anova_table

                 df  sum_sq  mean_sq          F    PR(>F)
C(treatments)   4.0  475.76   118.94  14.756824  0.000009
Residual       20.0  161.20     8.06        NaN       NaN

In [15]:
# Understanding:
# The more the F value --> lesser the P value --> High chances to reject null hypothesis
# We reject null hypothesis since P < aplha 
#dir(mod_1)
f_val_from_test = model_1.fvalue
p_val_from_test = model_1.f_pvalue
alpha = 0.05
if p_val_from_test<=alpha:
    print('Reject Null hypothesis')
else:
    print('Fail to reject null hypothesis')

Reject Null hypothesis

In [16]:
#POSTHOC ANALYSIS
# We Reject Null hypothesis 
# that doesn't mean all means are unequal
# Either any to pairs may be equal
# Lets test using Tukey cramer test 

from statsmodels.stats.multicomp import pairwise_tukeyhsd
# perform Tukey's test
tukey = pairwise_tukeyhsd(endog=new_df['value'],
                          groups=new_df['treatments'],
                          alpha=0.05)

#display results
print(tukey)

  Multiple Comparison of Means - Tukey HSD, FWER=0.05
=======================================================
 group1   group2  meandiff p-adj   lower  upper  reject
-------------------------------------------------------
cotwt.15 cotwt.20      5.6 0.0385   0.227 10.973   True
cotwt.15 cotwt.25      7.8 0.0026   2.427 13.173   True
cotwt.15 cotwt.30     11.8    0.0   6.427 17.173   True
cotwt.15 cotwt.35      1.0 0.9798  -4.373  6.373  False
cotwt.20 cotwt.25      2.2 0.7372  -3.173  7.573  False
cotwt.20 cotwt.30      6.2 0.0189   0.827 11.573   True
cotwt.20 cotwt.35     -4.6 0.1163  -9.973  0.773  False
cotwt.25 cotwt.30      4.0 0.2101  -1.373  9.373  False
cotwt.25 cotwt.35     -6.8 0.0091 -12.173 -1.427   True
cotwt.30 cotwt.35    -10.8 0.0001 -16.173 -5.427   True
-------------------------------------------------------

Conclusion:
The mean of -- weight of cotton 15% and 35% is same  
The mean of -- weight of cotton 20% and 25% is same  
The mean of -- weight of cotton 20% and 35% is same
The mean of -- weight of cotton 25% and 30% is same

Other pairs are not the same

In [37]:
# Other way to Solve : Scipy Way 

from scipy import stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd


test_stat = stats.f_oneway(df['cotwt.15'],df['cotwt.20'],df['cotwt.25'],
                           df['cotwt.30'],df['cotwt.35'])

# test_stat = stats.f_oneway(new_df['treatments'],new_df['value'])
# To run with test statistics one way ANOVA with scipy  
# --> all treatements should be a separate column 

alpha =0.05

if test_stat.pvalue<=alpha:
    print('Reject Null Hyp')
    # Do the POSTHOC as above
    # Have to modify the dataframe as index, treatment, value 
else:
    print('Fail to reject null hyp')

ValueError: could not convert string to float: 'cotwt.15'